BODY {
	
}
BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana,"Segoe UI Bold",sans-serif; FONT-SIZE: 0.7em; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.SHL_LNavLinks {
	BORDER-BOTTOM: #c6ced2 1px solid; BORDER-LEFT: #c6ced2 1px solid; OVERFLOW-X: hidden; OVERFLOW-Y: auto; HEIGHT: 100%; BORDER-TOP: #c6ced2 1px solid; BORDER-RIGHT: #c6ced2 1px solid
}
DIV.links {
	TEXT-ALIGN: center; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; PADDING-TOP: 6px
}
#shlHdrLogoBand {
	MIN-WIDTH: 987px
}
.SHL_QUIRKS #shlHdrLogoBand {
	; WIDTH: expression(document.body.clientWidth < 989? "987px" : "auto" )
}
DIV.links {
	MIN-WIDTH: 600px; PADDING-LEFT: 3px
}
.SHL_QUIRKS DIV.links {
	PADDING-LEFT: 0px; ; WIDTH: expression(document.body.clientWidth < 602? "600px" : "auto" )
}
.SHL_TopMenu A {
	WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.SHL_TopMenu A:link {
	PADDING-RIGHT: 15px; WHITE-SPACE: nowrap; COLOR: #333; TEXT-DECORATION: none
}
.SHL_TopMenu A:visited {
	PADDING-RIGHT: 15px; WHITE-SPACE: nowrap; COLOR: #333; TEXT-DECORATION: none
}
.SHL_TopMenu A:hover {
	TEXT-DECORATION: underline
}
.SHL_TopMenu_div {
	FONT-FAMILY: "Segoe UI",Tahoma,Verdana,Arial; FONT-SIZE: 115%
}
.SHL_TopMenu_div UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.SHL_TopMenu_Dropped UL LI UL {
	Z-INDEX: 10000; DISPLAY: block
}
.SHL_TopMenu {
	DISPLAY: inline
}
.SHL_TopMenu LI {
	DISPLAY: inline
}
.SHL_TopMenu UL {
	DISPLAY: inline
}
.SHL_TopMenu_drop {
	POSITION: relative
}
.SHL_TopMenu_drop LI {
	PADDING-LEFT: 1px
}
.SHL_TopMenu_drop UL {
	LIST-STYLE-POSITION: outside; Z-INDEX: 10000; BORDER-BOTTOM: #ccc 3px solid; POSITION: absolute; MIN-WIDTH: 10em; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 3px solid; PADDING-TOP: 0px; TOP: 1.5em; LEFT: 0px
}
.SHL_TopMenu_drop UL LI {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-TOP: 2px
}
.SHL_TopMenu_drop LI UL LI A {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-TOP: 2px
}
.SHL_TopMenu_drop LI UL LI A {
	BORDER-BOTTOM: #fcfcfc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #fcfcfc 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 3px; DISPLAY: block; WHITE-SPACE: nowrap; COLOR: #444; OVERFLOW: visible; BORDER-TOP: #fcfcfc 1px solid; BORDER-RIGHT: #fcfcfc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.SHL_TopMenu_drop {
	Z-INDEX: 1; OVERFLOW: visible
}
.SHL_TopMenu_drop UL LI A:hover {
	BORDER-BOTTOM-COLOR: #bbd8fb; BORDER-TOP-COLOR: #bbd8fb; BACKGROUND: #f3f7fd; COLOR: #444; BORDER-RIGHT-COLOR: #bbd8fb; BORDER-LEFT-COLOR: #bbd8fb; TEXT-DECORATION: none
}
.SHL_Sym {
	FONT-FAMILY: Arial; MARGIN-LEFT: 0.3em; FONT-SIZE: 0.6em; TEXT-DECORATION: none
}
.SHL_Break {
	BORDER-BOTTOM: #dcdcdc 1px solid; MARGIN: 3px 2px 0px 1px; DISPLAY: block
}
.SHL_BC_div {
	Z-INDEX: 6; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; PADDING-TOP: 6px
}
.SHL_LeftNav_List {
	LIST-STYLE-POSITION: outside !important; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.SHL_LeftNav_List A SPAN {
	PADDING-RIGHT: 0.2em
}
#shlTopNavBand A {
	PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em
}
.SHL_FooterBreak {
	MARGIN-LEFT: 6px; MARGIN-RIGHT: 6px
}
.SHL_LNavItem {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #fff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.SHL_LNavItem:visited {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #fff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.SHL_LNavItem-Sel:hover {
	COLOR: #444; TEXT-DECORATION: none
}
.SHL_LNavItem:hover {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #e4f3fd; COLOR: #0066a7; BORDER-TOP: #ccc 1px solid; TEXT-DECORATION: none
}
.SHL_LNavItem-Sel {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffaa59; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.SHL_LNavItem-Sel:visited {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffaa59; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.SHL_LNavItem-Indent {
	PADDING-LEFT: 16px
}
.SHL_LNavItem-Indent:visited {
	PADDING-LEFT: 16px
}
.SHL_Logo {
	PADDING-LEFT: 6px
}
.SHL_QUIRKS .SHL_Logo {
	PADDING-LEFT: 3px
}
.SHL_FF .SHL_Logo {
	PADDING-LEFT: 3px
}
.SHL_Me {
	TEXT-ALIGN: right; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle
}
#DomainOptions {
	WIDTH: 230px; OVERFLOW: hidden
}
.shl_OL_Logo_SB_gif {
	BACKGROUND-IMAGE: url(../../images/olshell.png); WIDTH: 230px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -28px -245px; HEIGHT: 33px !important
}
.shl_OL_Logo_SB_beta_gif {
	BACKGROUND-IMAGE: url(../../images/olshell.png); WIDTH: 230px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -258px -245px; HEIGHT: 33px !important
}
.SHL_TopLine {
	BACKGROUND-IMAGE: url(../../images/olshell.png); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -100px; HEIGHT: 50px !important
}
.SHL_Logo {
	BACKGROUND-IMAGE: url(../../images/olshell.png); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 50px !important
}
.shl_addcontentplus_gif {
	BACKGROUND-IMAGE: url(../../images/olshell.png); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 10px; BACKGROUND-POSITION: 0px -245px; HEIGHT: 10px; BORDER-TOP: 0px; MARGIN-RIGHT: 4px; BORDER-RIGHT: 0px
}
.shl_Help_shell_gif {
	BACKGROUND-IMAGE: url(../../images/olshell.png); WIDTH: 16px; BACKGROUND-POSITION: -10px -245px; HEIGHT: 16px
}
.SHL_QUIRKS * {
	-moz-box-sizing: border-box
}
.SHL_STD SELECT {
	FONT-SIZE: 1em
}
.SHL_STD TD {
	FONT-SIZE: 1em
}
.SHL_STD #shlHeader TD {
	FONT-SIZE: 1em
}
.SHL_STD #shlFooter TD {
	FONT-SIZE: 1em
}
.SHL_STD .LNavItem {
	WIDTH: 94.2%
}
.SHL_STD .LNavItem:visited {
	WIDTH: 94.2%
}
.SHL_STD .LNavItem-Sel {
	WIDTH: 94.2%
}
.SHL_STD .LNavItem-Sel:visited {
	WIDTH: 94.2%
}
.SHL_STD .LNavItem-Indent {
	WIDTH: 90%
}
.SHL_STD .LNavItem-Indent:visited {
	WIDTH: 90%
}
TABLE {
	BORDER-COLLAPSE: collapse
}
#shlFrame {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
#shlHeader {
	MARGIN: 0px 0px 8px; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; FLOAT: left
}
.SHL_IE6 #shlHdrLogoBand {
	HEIGHT: 53px
}
.SHL_IE7 #shlHdrLogoBand {
	HEIGHT: 53px
}
.SHL_OLHeader {
	HEIGHT: 50px
}
#shlHeader TD {
	FONT-SIZE: 0.7em
}
#shlFooter TD {
	FONT-SIZE: 0.7em
}
#ShellLogo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#shlHeader A {
	COLOR: #333
}
#shlHeader A:visited {
	COLOR: #333
}
#shlHeader A:hover {
	COLOR: #333
}
#shlUserCnt {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; PADDING-RIGHT: 6px; FLOAT: right; PADDING-TOP: 4px
}
#shlUserName {
	FONT-WEIGHT: bold
}
#shlTopNavBand {
	Z-INDEX: 50; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 14px; PADDING-RIGHT: 0px; FLOAT: left; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.SHL_FF #shlTopNavBand {
	WIDTH: 100%
}
.SHL_FF #shlHdrLogoBand {
	DISPLAY: block; HEIGHT: 4.5em
}
#shlContent {
	MARGIN: 0px 6px; CLEAR: both
}
#shlBody {
	POSITION: relative; BACKGROUND-COLOR: #fff; FLOAT: left; CLEAR: right; VERTICAL-ALIGN: top; BORDER-TOP: 0px
}
#shlBodyHeader {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 0px; PADDING-TOP: 0px
}
#bodyWrapper {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; HEIGHT: 100%; OVERFLOW: auto; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#shlFooter {
	POSITION: relative; PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; WIDTH: 100%; PADDING-RIGHT: 6px; BACKGROUND: #fff; COLOR: #666; CLEAR: both; PADDING-TOP: 6px
}
.SHL_STD #shlFooter {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.SHL_STD #EL_SH_ShellFeedback {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#shlFooter A {
	COLOR: #0066a7; TEXT-DECORATION: none
}
#shlFooter A:visited {
	COLOR: #0066a7; TEXT-DECORATION: none
}
#shlFooter A:hover {
	COLOR: #0066a7; TEXT-DECORATION: none
}
#shlFooter A:hover {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
#shlLNavLinks {
	BACKGROUND-COLOR: #fff; PADDING-TOP: 0px
}
#ShellCopyrightText {
	COLOR: #666
}
#shlLContent {
	WIDTH: 180px; FLOAT: left; MARGIN-RIGHT: 5px
}
#shlLNav {
	WIDTH: 180px; FLOAT: left
}
.shlLeftContentClass {
	WORD-WRAP: break-word; VERTICAL-ALIGN: top; MARGIN-RIGHT: 5px
}
.shlEcontentclass {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 180px; DISPLAY: block; HEIGHT: 150px; OVERFLOW: hidden
}
.LNavItem {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #fff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.LNavItem:visited {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #fff 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.LNavItem:hover {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #e4f3fd; COLOR: #0066a7; BORDER-TOP: #ccc 1px solid; TEXT-DECORATION: none
}
.LNavSpacer {
	BACKGROUND-COLOR: #d2d6d9; WIDTH: 165px
}
.LNavSeparator {
	WIDTH: 91%; HEIGHT: 1px; COLOR: #d2d6d9
}
.NavBlankSpace {
	WIDTH: 100%; HEIGHT: 24px
}
.LNavItem-Sel {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffaa59; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.LNavItem-Sel:visited {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffaa59; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.LNavItem-Sel:hover {
	COLOR: #444; TEXT-DECORATION: none
}
.LNavItem-Indent {
	PADDING-LEFT: 16px
}
.LNavItem-Indent:visited {
	PADDING-LEFT: 16px
}
.hdrlogo {
	WIDTH: 300px; BACKGROUND: #fff; FLOAT: left
}
.hdrtextfrm {
	MARGIN-TOP: 10px; BACKGROUND: #fff; FLOAT: right; MARGIN-RIGHT: 10px
}
.menuArrow {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 0px
}
.sectionNavfrm {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.sectionNavfrm A {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.SHL_IE7 .sectionNavfrm A {
	DISPLAY: inline-block
}
.bcNavLink {
	COLOR: #0066a7; TEXT-DECORATION: none
}
.bcNavLink:visited {
	COLOR: #0066a7; TEXT-DECORATION: none
}
.bcNavLink:hover {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
.breadcrumb {
	Z-INDEX: 1000; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: white; DISPLAY: none; OVERFLOW: hidden; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
.breadcrumb A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 15px; DISPLAY: block; WHITE-SPACE: nowrap; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.breadcrumb A:visited {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 15px; DISPLAY: block; WHITE-SPACE: nowrap; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.breadcrumb A:hover {
	BACKGROUND-COLOR: #edf2fb; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
.bcArrowButton {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; PADDING-LEFT: 4px; WIDTH: 16px; PADDING-RIGHT: 4px; DISPLAY: inline-block; COLOR: #333; MARGIN-LEFT: 8px; BORDER-TOP: #fff 1px solid; MARGIN-RIGHT: 4px; BORDER-RIGHT: #fff 1px solid
}
.SHL_IE7 .SHL_STD .bcArrowButton {
	TEXT-ALIGN: center; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.SHL_IE6 .SHL_STD .bcArrowButton {
	TEXT-ALIGN: center; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#shlPWSpace {
	BORDER-BOTTOM: #c6ced2 1px solid; BORDER-LEFT: #c6ced2 1px solid; MARGIN-TOP: 5px; HEIGHT: 24px; BORDER-TOP: #c6ced2 1px solid; BORDER-RIGHT: #c6ced2 1px solid
}
.shlPWLinkClass:hover {
	BACKGROUND-COLOR: #e4f3fd; COLOR: #0066a7; TEXT-DECORATION: underline
}
.shlPWLinkClass {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f0ea; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; FONT-WEIGHT: 700; PADDING-TOP: 4px
}
.shlPWLinkClass:visited {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f0ea; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #444; FONT-WEIGHT: 700; PADDING-TOP: 4px
}
.bcArrowButtonMouseHover {
	BORDER-BOTTOM: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #c6c6c6 1px solid
}
.bcArrowButtonClicked {
	BORDER-BOTTOM: #333 1px solid; BORDER-LEFT: #333 1px solid; BORDER-TOP: #333 1px solid; BORDER-RIGHT: #333 1px solid
}
.Accentuated BUTTON {
	BACKGROUND-IMAGE: url(images/HigButton_Rest_Accentuated.gif); BORDER-BOTTOM-COLOR: #1aab1f; BORDER-TOP-COLOR: #1aab1f; BORDER-RIGHT-COLOR: #1aab1f; BORDER-LEFT-COLOR: #1aab1f
}
.Accentuated BUTTON.default {
	BORDER-BOTTOM-COLOR: #54ce43; BORDER-TOP-COLOR: #54ce43; BORDER-RIGHT-COLOR: #54ce43; BORDER-LEFT-COLOR: #54ce43
}
.Accentuated BUTTON.hover {
	BORDER-BOTTOM-COLOR: #54ce43; BACKGROUND-COLOR: #54ce43; BORDER-TOP-COLOR: #54ce43; BORDER-RIGHT-COLOR: #54ce43; BORDER-LEFT-COLOR: #54ce43
}
.Accentuated BUTTON.pressed {
	BACKGROUND-IMAGE: url(images/HigButton_Pressed_Accentuated.gif); BORDER-BOTTOM-COLOR: #1aab1f; BACKGROUND-COLOR: #9eee8d; BORDER-TOP-COLOR: #1aab1f; BORDER-RIGHT-COLOR: #1aab1f; BORDER-LEFT-COLOR: #1aab1f
}
.ActionBar {
	BORDER-BOTTOM: #e4edf2 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fff; PADDING-TOP: 4px
}
.BreadcrumbLayout {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.Color1 {
	COLOR: #444
}
UL.NavList LI A:visited {
	COLOR: #444
}
TD {
	COLOR: #444
}
.Color3 {
	COLOR: #2059a5
}
.Color4 {
	COLOR: #c7c7c7
}
.Color5 {
	COLOR: #1aab1f
}
.ColorAvailableNav {
	COLOR: #0088e4
}
.Commerce BUTTON {
	BACKGROUND-IMAGE: url(images/HigButton_Rest_Commerce.gif); BORDER-BOTTOM-COLOR: #c57000; BORDER-TOP-COLOR: #c57000; BORDER-RIGHT-COLOR: #c57000; BORDER-LEFT-COLOR: #c57000
}
.Commerce BUTTON.default {
	BORDER-BOTTOM-COLOR: #f07522; BORDER-TOP-COLOR: #f07522; BORDER-RIGHT-COLOR: #f07522; BORDER-LEFT-COLOR: #f07522
}
.Commerce BUTTON.hover {
	BORDER-BOTTOM-COLOR: #f07522; BACKGROUND-COLOR: #f07522; BORDER-TOP-COLOR: #f07522; BORDER-RIGHT-COLOR: #f07522; BORDER-LEFT-COLOR: #f07522
}
.Commerce BUTTON.pressed {
	BACKGROUND-IMAGE: url(images/HigButton_Pressed_Commerce.gif); BACKGROUND-COLOR: #ffab7c
}
.Container {
	BORDER-BOTTOM: #afd3eb 1px solid; BORDER-LEFT: #afd3eb 1px solid; MARGIN: 0px 5px 5px 0px; BORDER-TOP: #afd3eb 1px solid; BORDER-RIGHT: #afd3eb 1px solid
}
.ContainerIndent {
	PADDING-LEFT: 8px
}
UL.ShortcutsList LI A {
	PADDING-LEFT: 8px
}
.ContainerPadding {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.Definition {
	BACKGROUND: url(images/definitionUnderline.gif) repeat-x 50% bottom
}
.ErrorBoxHigh {
	BACKGROUND: #ffaeb9
}
.ErrorBoxLayout {
	BORDER-BOTTOM: #bbdbee 1px solid; BORDER-LEFT: #bbdbee 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #444; VERTICAL-ALIGN: middle; BORDER-TOP: #bbdbee 1px solid; BORDER-RIGHT: #bbdbee 1px solid; PADDING-TOP: 6px
}
.ErrorBoxLow {
	BACKGROUND: #fff
}
.Background1 {
	BACKGROUND: #fff
}
.ErrorBoxMed {
	BACKGROUND: #ffffae
}
.FeatureTitle {
	FONT-WEIGHT: 700
}
.Bold {
	FONT-WEIGHT: 700
}
.Field {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 2px; VERTICAL-ALIGN: middle; BORDER-TOP: #888 1px solid; BORDER-RIGHT: #888 1px solid; PADDING-TOP: 2px
}
.FieldLabel {
	TEXT-ALIGN: right; PADDING-RIGHT: 4px; COLOR: #777
}
.GlobalBorder {
	BORDER-BOTTOM: #b7d8ed 1px solid; BORDER-LEFT: #b7d8ed 1px solid; BORDER-TOP: #b7d8ed 1px solid; BORDER-RIGHT: #b7d8ed 1px solid
}
.GlobalDivider {
	BORDER-BOTTOM: #e4edf2 1px solid; MARGIN-BOTTOM: 8px
}
.GlobalHeader {
	BORDER-BOTTOM: #e4edf2 1px solid; BORDER-LEFT: #e4edf2 1px solid; BORDER-TOP: #e4edf2 1px solid; BORDER-RIGHT: #e4edf2 1px solid
}
.InlineError {
	COLOR: #ee2037
}
.InlineStatusLayout {
	PADDING-BOTTOM: 4px
}
.InlineSuccess {
	COLOR: #5a8e4a
}
.InnerHeader {
	BORDER-BOTTOM: #e4edf2 1px solid; BORDER-LEFT: #e4edf2 1px solid; PADDING-BOTTOM: 4px; MARGIN: 4px 0px 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; BORDER-TOP: #e4edf2 1px solid; BORDER-RIGHT: #e4edf2 1px solid; PADDING-TOP: 4px
}
.InnerHeader IMG {
	PADDING-RIGHT: 8px; VERTICAL-ALIGN: text-top
}
.Italic {
	FONT-STYLE: italic
}
.LeftNav {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px
}
.LeftNavOn {
	BACKGROUND-COLOR: #d2eaf6
}
.LeftNavParent {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; FONT-WEIGHT: 700; PADDING-TOP: 8px
}
.LeftNavTitle {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 100%; TEXT-TRANSFORM: lowercase; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; COLOR: #777; FONT-SIZE: 146%; FONT-WEIGHT: 700; PADDING-TOP: 8px
}
.LineHeightLoose {
	LINE-HEIGHT: 170%
}
.LineHeightStandard {
	LINE-HEIGHT: 130%
}
.LineHeightTight {
	LINE-HEIGHT: 105%
}
.Me {
	TEXT-ALIGN: right
}
.MoreLinks {
	MARGIN-TOP: 12px
}
.MoreLinks A {
	PADDING-RIGHT: 12px
}
.Normal {
	FONT-STYLE: normal; FONT-WEIGHT: 400
}
.Price {
	COLOR: #f07522; FONT-WEIGHT: 700
}
.Property {
	FONT-SIZE: 150%; VERTICAL-ALIGN: top
}
.SearchGhostedText {
	FONT-STYLE: italic; FONT-WEIGHT: 700
}
.SearchNavLayout {
	PADDING-LEFT: 8px; PADDING-RIGHT: 8px; VERTICAL-ALIGN: middle
}
.ShortcutsContainer {
	BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; MARGIN: 8px; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid
}
.ShortcutsHeader {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #efefef; PADDING-LEFT: 8px; PADDING-RIGHT: 5px; COLOR: #777; FONT-WEIGHT: 700; PADDING-TOP: 5px
}
.Text110 {
	FONT-SIZE: 110%
}
.Text120 {
	FONT-SIZE: 120%
}
.Text133 {
	FONT-SIZE: 133%
}
.TextLarge {
	FONT-SIZE: 150%
}
.TextNormal {
	FONT-SIZE: 100%
}
.TextSmall {
	FONT-SIZE: 92%
}
.ToolLabel {
	COLOR: #00156e
}
A {
	COLOR: #0066a7; TEXT-DECORATION: none
}
A:visited {
	COLOR: #6e4987; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066a7; TEXT-DECORATION: underline
}
A.ContextLink {
	COLOR: #777; TEXT-DECORATION: underline
}
A.LinkLight {
	COLOR: #c7c7c7; TEXT-DECORATION: underline
}
A.ContextLink:hover {
	COLOR: #0088e4; TEXT-DECORATION: underline
}
A.LinkLight:hover {
	COLOR: #0088e4; TEXT-DECORATION: underline
}
BUTTON {
	BORDER-BOTTOM: #00156e 0.1em solid; BORDER-LEFT: #00156e 0.1em solid; WIDTH: 7em; FONT-FAMILY: Verdana; BACKGROUND: url(/resources/images/btn_standard_rest.gif) #f1f1f1 repeat-x center 50%; HEIGHT: 2em; COLOR: #00156e; MARGIN-LEFT: 5px; FONT-SIZE: 95%; VERTICAL-ALIGN: middle; BORDER-TOP: #00156e 0.1em solid; BORDER-RIGHT: #00156e 0.1em solid
}
BUTTON.default {
	BACKGROUND-IMAGE: url(images/HigButton_Default.gif)
}
BUTTON.disabled {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #c7c7c7; BACKGROUND-COLOR: #f1f1f1; BORDER-TOP-COLOR: #c7c7c7; COLOR: #c7c7c7; BORDER-RIGHT-COLOR: #c7c7c7; BORDER-LEFT-COLOR: #c7c7c7
}
BUTTON.focus {
	BACKGROUND-IMAGE: url(images/HigButton_Hot.gif); BACKGROUND-COLOR: #00156e
}
BUTTON.hover {
	BACKGROUND-IMAGE: url(images/HigButton_Hot.gif)
}
BUTTON.pressed {
	BACKGROUND-IMAGE: url(images/HigButton_Pressed.gif); BACKGROUND-COLOR: #b7d8ed
}
FORM {
	MARGIN: 0px; VERTICAL-ALIGN: middle
}
H1 {
	MARGIN: 16px 10px 4px; FONT-SIZE: 146%
}
H1 {
	LINE-HEIGHT: 145%; MARGIN: 0px; COLOR: #444; FONT-WEIGHT: 400
}
H2 {
	LINE-HEIGHT: 145%; MARGIN: 0px; COLOR: #444; FONT-WEIGHT: 400
}
H3 {
	LINE-HEIGHT: 145%; MARGIN: 0px; COLOR: #444; FONT-WEIGHT: 400
}
H4 {
	LINE-HEIGHT: 145%; MARGIN: 0px; COLOR: #444; FONT-WEIGHT: 400
}
H5 {
	LINE-HEIGHT: 145%; MARGIN: 0px; COLOR: #444; FONT-WEIGHT: 400
}
H2 {
	MARGIN: 8px 0px 4px; FONT-SIZE: 132%
}
H3 {
	MARGIN: 8px 0px 4px; FONT-SIZE: 125%
}
H4 {
	MARGIN: 12px 0px 4px; FONT-SIZE: 110%
}
H5 {
	MARGIN: 4px 0px; FONT-SIZE: 100%
}
HTML > BODY UL.NavList LI A {
	WIDTH: auto
}
LABEL {
	COLOR: #777
}
.Color2 {
	COLOR: #777
}
LI {
	MARGIN: 0px 0px 3px
}
P {
	MARGIN: 1.2em 0px; PADDING-LEFT: 8px
}
SELECT {
	FONT-FAMILY: Verdana,"verdana UI Bold",sans-serif; COLOR: #444; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
TABLE.FormTable TD {
	VERTICAL-ALIGN: top
}
TABLE.FormTable TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0.2em; COLOR: #777; VERTICAL-ALIGN: top; FONT-WEIGHT: 400; PADDING-TOP: 0.4em
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: disc; MARGIN: 0px 0px 20px 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.ListSpaceLarge LI {
	MARGIN-BOTTOM: 8px
}
UL.NavList {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
UL.NavList LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.NavList LI A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 16px; PADDING-RIGHT: 5px; DISPLAY: block; HEIGHT: 1em; COLOR: #444; TEXT-DECORATION: none; PADDING-TOP: 5px
}
UL.NavList LI A:hover {
	BACKGROUND-COLOR: #edf2fb; COLOR: #444; TEXT-DECORATION: none
}
UL.NavList LI.LeftNavOn {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d2eaf6; PADDING-LEFT: 16px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
UL.NoBullets {
	LIST-STYLE-TYPE: none
}
UL.ShortcutsList LI A:hover {
	BACKGROUND-COLOR: #f7f7f7; TEXT-DECORATION: none
}
#controlCenterBody TD {
	FONT-SIZE: 0.7em
}
.webTl {
	MARGIN: 10px 0px 0px
}
.tileFrUxFrm {
	PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 1px; WIDTH: 573px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; PADDING-TOP: 1px
}
.MSG_TileHeading {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #b7d8ed 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BACKGROUND: #e4edf3; COLOR: #777; BORDER-TOP: #b7d8ed 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #b7d8ed 1px solid; PADDING-TOP: 5px
}
.MSG_TileContentFrame {
	BORDER-BOTTOM: #b7d8ed 1px solid; BORDER-LEFT: #b7d8ed 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BORDER-TOP: #b7d8ed 1px solid; BORDER-RIGHT: #b7d8ed 1px solid; PADDING-TOP: 10px
}
.MSG_RCTileContentFrame {
	BORDER-BOTTOM: #e1dede 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e1dede 1px solid; WIDTH: 180px; BORDER-TOP: #e1dede 1px solid; BORDER-RIGHT: #e1dede 1px solid
}
.MSG_RCTileHeading {
	BORDER-BOTTOM: #e1dede 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #f2f2f2; COLOR: #7c7c7c; FONT-WEIGHT: 700; PADDING-TOP: 7px
}
DIV.MSG_RCTileBody {
	PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.mrktTlrt {
	BORDER-BOTTOM: #ccc 1px dashed; MARGIN-BOTTOM: 14px
}
.home_calendar16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 16px
}
.home_email_outlook_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -16px 0px; HEIGHT: 16px
}
.home_inbox16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -32px 0px; HEIGHT: 16px
}
.home_imagegallery16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -48px 0px; HEIGHT: 16px
}
.home_design16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -64px 0px; HEIGHT: 16px
}
.home_contacts16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -80px 0px; HEIGHT: 16px
}
.home_editpages16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -96px 0px; HEIGHT: 16px
}
.home_reports16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -112px 0px; HEIGHT: 16px
}
.home_websitepreview16_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: 0px -16px; HEIGHT: 16px
}
.home_tiledownarrow_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 12px; BACKGROUND-POSITION: -16px -16px; HEIGHT: 12px
}
.home_tiledownarrowHvr_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 12px; BACKGROUND-POSITION: -28px -16px; HEIGHT: 12px
}
.home_Gadget_glyph_help_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 7px; BACKGROUND-POSITION: 0px -32px; HEIGHT: 10px
}
.home_GS_handle_collapse_glyph_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 9px; BACKGROUND-POSITION: -7px -32px; HEIGHT: 10px
}
.home_fcp_downarrow_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 14px; BACKGROUND-POSITION: 0px -42px; HEIGHT: 13px
}
.home_gs_handle_transition_rest_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 20px; BACKGROUND-POSITION: -16px -32px; HEIGHT: 25px
}
.home_star_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 24px; BACKGROUND-POSITION: -40px -16px; HEIGHT: 23px
}
.home_fcp_ViewReports_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -40px -39px; HEIGHT: 16px
}
.home_fcp_drivetraffic_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 16px; BACKGROUND-POSITION: -56px -39px; HEIGHT: 16px
}
.home_gs_handle_transition_hover_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 20px; BACKGROUND-POSITION: -72px -16px; HEIGHT: 25px
}
.home_fcp_uparrow_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 14px; BACKGROUND-POSITION: -72px -41px; HEIGHT: 13px
}
.home_GS_handle_expand_glyph_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 9px; BACKGROUND-POSITION: -86px -41px; HEIGHT: 10px
}
.home_Gadget_glyph_options_gif {
	BACKGROUND-IMAGE: url(/resources/images/homeImages.png); WIDTH: 10px; BACKGROUND-POSITION: -95px -41px; HEIGHT: 10px
}
.gadgetContainer {
	POSITION: relative; WIDTH: 100%; HEIGHT: 100%
}
.loading {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; TOP: 40%; LEFT: 0px
}
.gadgetContainer .column {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 100%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.gadget {
	BORDER-BOTTOM: #e5e8eb 1px solid; POSITION: relative; BORDER-LEFT: #e5e8eb 1px solid; MARGIN-BOTTOM: 10px; COLOR: #444; BORDER-TOP: #e5e8eb 1px solid; BORDER-RIGHT: #e5e8eb 1px solid
}
.gadget .icon {
	Z-INDEX: 2; BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; WIDTH: 30px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; LEFT: 16px
}
.gadget .header {
	PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #e9f2f7; PADDING-LEFT: 8px; WIDTH: 100%; PADDING-RIGHT: 8px; HEIGHT: auto; COLOR: #444; OVERFLOW: hidden; PADDING-TOP: 4px
}
.gadget .header IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN-LEFT: 2px; BORDER-TOP: medium none; MARGIN-RIGHT: 2px; BORDER-RIGHT: medium none
}
.gadget .header A {
	COLOR: #0066a7
}
.gadget .header A:hover {
	TEXT-DECORATION: underline
}
.gadget .header .middle {
	
}
.gadget .header .title {
	FONT-SIZE: 0.9em
}
.gadget .header .left {
	TEXT-ALIGN: left; WIDTH: 10px
}
.gadget .header .right {
	TEXT-ALIGN: right; WIDTH: 80px
}
.gadget .footer {
	PADDING-BOTTOM: 10px; OVERFLOW-X: hidden; OVERFLOW-Y: visible; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; DISPLAY: none; FONT-SIZE: 0.7em; BORDER-TOP: #e5e8eb 1px solid; PADDING-TOP: 10px
}
.gadget .footer A {
	COLOR: #0066a7
}
.gadget .footer A:hover {
	TEXT-DECORATION: underline
}
.gadget .gadgetContent {
	BACKGROUND-IMAGE: url(../../images/gadget_footer.png); OVERFLOW-X: hidden; OVERFLOW-Y: visible; BACKGROUND-COLOR: #fff; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom; HEIGHT: auto; FONT-SIZE: 0.7em
}
.gadget .gadgetContent A {
	COLOR: #0066a7
}
.gadget .gadgetContent A:hover {
	TEXT-DECORATION: underline
}
.home_body_table {
	WIDTH: 100%
}
.home_welcome_center {
	BACKGROUND-COLOR: #fffbe3; WIDTH: 100%
}
.home_body_content {
	WIDTH: 100%
}
.home_right_pane {
	OVERFLOW-X: hidden; WIDTH: 300px; VERTICAL-ALIGN: top
}
.home_tile {
	BORDER-BOTTOM: #e5e8eb 1px solid; BORDER-LEFT: #e5e8eb 1px solid; OVERFLOW-X: hidden; WIDTH: 100%; MARGIN-BOTTOM: 14px; BORDER-TOP: #e5e8eb 1px solid; BORDER-RIGHT: #e5e8eb 1px solid
}
.home_tile_title {
	PADDING-BOTTOM: 6px; OVERFLOW-X: hidden; BACKGROUND-COLOR: #e9f2f7; PADDING-LEFT: 8px; WIDTH: 100%; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 8px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; COLOR: #444; FONT-SIZE: 1.1em; PADDING-TOP: 4px
}
.home_tile_body {
	BACKGROUND-IMAGE: url(../../images/gadget_footer.png); PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom; FONT-SIZE: 0.7em; PADDING-TOP: 10px
}
.home_tile_footer {
	PADDING-BOTTOM: 10px; OVERFLOW-X: hidden; OVERFLOW-Y: visible; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; FONT-SIZE: 0.7em; BORDER-TOP: #e5e8eb 1px solid; PADDING-TOP: 10px
}
.home_gadget_dummy {
	WIDTH: 480px; VISIBILITY: hidden
}
.home_wcContent {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #ffd371 1px solid; PADDING-BOTTOM: 14px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; OVERFLOW: hidden; BORDER-TOP: #ffd371 1px solid; BORDER-RIGHT: #ffd371 1px solid; PADDING-TOP: 14px
}
.home_wcContentTable {
	POSITION: relative; WIDTH: 100%; FONT-SIZE: 0.7em
}
.home_wcFooter_handleBar {
	BACKGROUND-IMAGE: url(/resources/images/gs_handle_bar_rest.gif); BACKGROUND-COLOR: #fff; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px; FONT-SIZE: 0.7em; VERTICAL-ALIGN: top
}
.home_wcFooter_handleBar_hover {
	BACKGROUND-IMAGE: url(/resources/images/gs_handle_bar_hover.gif); BACKGROUND-COLOR: #fff; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px; FONT-SIZE: 0.7em; VERTICAL-ALIGN: top
}
.home_wcFooter_handleTransition {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 20px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: right; HEIGHT: 25px; PADDING-TOP: 0px
}
.home_wcFooter_handleTab {
	BACKGROUND-IMAGE: url(/resources/images/gs_handle_tab_rest.gif); PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; FLOAT: right; HEIGHT: 25px; CURSOR: pointer; PADDING-TOP: 6px
}
.home_wcFooter_handleTab_hover {
	BACKGROUND-IMAGE: url(/resources/images/gs_handle_tab_hover.gif); PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; FLOAT: right; HEIGHT: 25px; CURSOR: pointer; PADDING-TOP: 6px
}
.home_wcTitle {
	FONT-FAMILY: Verdana; COLOR: #444
}
.home_wcDescription {
	FONT-FAMILY: Verdana; COLOR: #444
}
.home_wcDescription A {
	COLOR: #0066a7
}
.home_wcDescription A:hover {
	TEXT-DECORATION: underline
}
A.home_wcDummyLink {
	COLOR: #0066a7; CURSOR: pointer
}
A.home_wcDummyLink:hover {
	TEXT-DECORATION: underline
}
.alrtstp {
	BORDER-BOTTOM: #d23838 1px solid; BORDER-LEFT: #d23838 1px solid; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 5px; BACKGROUND: url(../../images/icons/alertstop16.gif) #ffeee7 no-repeat 5px 5px; HEIGHT: 30px; BORDER-TOP: #d23838 1px solid; BORDER-RIGHT: #d23838 1px solid; PADDING-TOP: 5px
}
.alrtwrn {
	BORDER-BOTTOM: #febd01 1px solid; BORDER-LEFT: #febd01 1px solid; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 5px; BACKGROUND: url(../../images/icons/alertwarn16.gif) #fff7e2 no-repeat 5px 5px; HEIGHT: 30px; BORDER-TOP: #febd01 1px solid; BORDER-RIGHT: #febd01 1px solid; PADDING-TOP: 5px
}
.alrtdly {
	BORDER-BOTTOM: #72d940 1px solid; BORDER-LEFT: #72d940 1px solid; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 5px; BACKGROUND: url(../../images/icons/alertdelay16.gif) #f2ffeb no-repeat 5px 5px; HEIGHT: 30px; BORDER-TOP: #72d940 1px solid; BORDER-RIGHT: #72d940 1px solid; PADDING-TOP: 5px
}
.alrtstp TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.alrtwrn TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.alrtdly TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
