.BG_Null {
	
}
.BG_Base {
	BACKGROUND-COLOR: #cc6600
}
.BG_VeryLight {
	BACKGROUND-COLOR: #ffffff
}
.BG_Light {
	BACKGROUND-COLOR: #ff9900
}
.BG_Mid {
	BACKGROUND-COLOR: #333333
}
.BG_Dark {
	BACKGROUND-COLOR: #000000
}
.BG_VeryDark {
	BACKGROUND-COLOR: #000000
}
.F_VeryLight {
	COLOR: #ffffff
}
.F_Light {
	COLOR: #ff9900
}
.F_Mid {
	COLOR: #333333
}
.F_Dark {
	COLOR: #000000
}
.F_VeryDark {
	COLOR: #000000
}
BODY {
	BACKGROUND-IMAGE: url(/_backgroundImages/754242d5-f815-4e6f-9e58-3661c817c6c0.Jpeg); TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Geneva, sans-serif; BACKGROUND-POSITION: left top; COLOR: #000000; FONT-SIZE: 10pt
}
.MS_MasterFrame {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
TD {
	FONT-FAMILY: Verdana, Arial, Geneva, sans-serif; FONT-SIZE: 10pt
}
TH {
	FONT-FAMILY: Verdana, Arial, Geneva, sans-serif; FONT-SIZE: 10pt
}
.MS_MasterFrame {
	WIDTH: 780px
}
.MSC_SiteWidth {
	WIDTH: 100%
}
.MS_MasterHeader {
	WIDTH: 100%
}
.MS_MasterGlobalLinks {
	WIDTH: 100%
}
.MS_MasterPrimaryNav {
	WIDTH: 100%
}
.MS_MasterFooter {
	WIDTH: 100%
}
.MS_MasterTopAD {
	WIDTH: 100%
}
.MS_MasterBottomAD {
	WIDTH: 100%
}
.MSC_HeaderFrame {
	WIDTH: 100%; BACKGROUND: #000000
}
.MSC_HeaderDescription {
	MARGIN: 0px; FONT-SIZE: 12px
}
.MSC_GlobalLinkSpace {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #ffffff; FONT-SIZE: 10pt; PADDING-TOP: 10px
}
.MSC_GlobalLink {
	COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MSC_GlobalLink:hover {
	COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.MSC_GlobalLink:visited {
	COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MSC_GlobalLinkSpace {
	FONT-SIZE: 10pt
}
.MSC_PrimaryNavFrame {
	TEXT-ALIGN: left; MARGIN: 1px 0px 5px; WIDTH: 100%; BACKGROUND: #333333
}
.MSC_PrimaryNavLink {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.MSC_PrimaryNavLink:hover {
	COLOR: #ffffff; FONT-SIZE: 12px
}
.MSC_PrimaryNavLink:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.MSC_PrimaryNavLinkFrame-On {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; BACKGROUND: #e3fae7; PADDING-TOP: 5px
}
.MSC_PrimaryNavLink-On {
	COLOR: #325884; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MSC_PrimaryNavLink-On:hover {
	COLOR: #325884; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.MSC_PrimaryNavLink-On:visited {
	COLOR: #325884; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MSC_PrimaryNavLeftSpace {
	WIDTH: 1px; WHITE-SPACE: nowrap; BACKGROUND: #000000; FONT-SIZE: 1px
}
.MSC_PrimaryNavRightSpace {
	WIDTH: 1px; WHITE-SPACE: nowrap; BACKGROUND: #ff9900; FONT-SIZE: 1px
}
.MSC_PrimaryNavTopSpace {
	BACKGROUND: #000000; HEIGHT: 1px
}
.MSC_PrimaryNavBottomSpace {
	BACKGROUND: #ff9900; HEIGHT: 1px
}
.MS_MasterLeftNav {
	BACKGROUND: #ff9900
}
.MSC_SecondaryNavFrame {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: #e3fae7
}
.MSC_SecondaryNavLink {
	COLOR: #325884; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSC_SecondaryNavLink:hover {
	COLOR: #325884; FONT-SIZE: 10pt
}
.MSC_SecondaryNavLink:visited {
	COLOR: #325884; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSC_SecondaryNavLeftSpace {
	WIDTH: 1px; WHITE-SPACE: nowrap; BACKGROUND: #333333; FONT-SIZE: 1px
}
.MSC_SecondaryNavRightSpace {
	WIDTH: 1px; WHITE-SPACE: nowrap; BACKGROUND: #ffffff; FONT-SIZE: 1px
}
.MSC_SecondaryNavTopSpace {
	BACKGROUND: #333333; HEIGHT: 1px
}
.MSC_SecondaryNavBottomSpace {
	BACKGROUND: #ffffff; HEIGHT: 1px
}
.MSC_SecondaryNavLeftFrame-On {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; PADDING-TOP: 5px
}
.MSC_SecondaryNavLinkFrame-On {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; BACKGROUND: #ffffff; PADDING-TOP: 5px
}
.MSC_SecondaryNavLink-On {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #325884; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.MSC_SecondaryNavLink-On:hover {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #325884; FONT-SIZE: 10pt; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.MSC_SecondaryNavLink-On:visited {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #325884; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.MS_MasterBody {
	BACKGROUND: #ffffff
}
.MSC_Body {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffff; HEIGHT: 100%; PADDING-TOP: 10px
}
.MSC_FooterFrame {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #000000; PADDING-TOP: 5px
}
.MSC_FooterLink {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSC_FooterLink:hover {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
.MSC_FooterLink:visited {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.MSC_FooterLinkSpacer {
	COLOR: #ffffff; FONT-SIZE: 10pt
}
.MSC_FooterText {
	COLOR: #ffffff; FONT-SIZE: 10pt
}
.MSC_CollectDataTable {
	FONT-SIZE: 10pt
}
.MSC_CollectDataTable {
	FONT-SIZE: 10pt
}
.MSC_ECBorder {
	BORDER-BOTTOM-COLOR: #333333; BORDER-TOP-COLOR: #333333; BORDER-RIGHT-COLOR: #333333; BORDER-LEFT-COLOR: #333333
}
